################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LOQ_Issue_15ARP9_Bios.slnx/v18
/.vs/LOQ_Issue_15ARP9_Bios.slnx/FileContentIndex
